<form action="/trainings/create" method="post">
  <div class="flex flex-row flex-wrap">
    <div class="pt-2 pr-1">
      <select name="when" class="rounded">
        <option value="before">Before Training</option>
        <option value="during">During Training</option>
        <option value="after">After Training</option>
      </select>
    </div>

    <div class="grow pt-2 pr-1">
      <input
        name="feeling"
        class="rounded w-full"
        type="text"
        placeholder="How did you feel at this time?"
        />
    </div>

    <div class="pt-2">
      <button
        type="submit"
        class="w-44 btn-primary"
      >Add
      </button>
    </div>
  </div>
</form>